<section>
    <h1 class="fontSyne">Say Hi!</h1>
    
        <form class="contact-div">

            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Your name...">

            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Your email...">

            <label for="message">Subject</label>
            <textarea name="message" id="message" placeholder="Write something"></textarea>

            <input type="submit" value="submit">

        </form>

   
</section>
