@import '../../../../styles.scss';
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar{
    width: 100%;
    height: 92rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px 30px 100px;
    box-sizing: border-box;
    >img{
        width: 40px;
        height: 32px;
    }
}

.logo{
    width: 110px!important;
    height: 40px!important;
}

.menu {
    max-width: 580rem;
    width: 100%;
    height: calc(100vh - 92rem);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 96rem;
    font-weight: 700;
    line-height: 96rem;
    gap: 39rem;

   
}

.animate {
    color: $black;
    text-decoration: none;
    width: 100%;
    height: 167rem;
    text-align: center;
    background-image: url('./../../../../assets/img/animated/bg1.png');

    &:hover {
        animation: bgAnimation 125ms forwards;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

.clickbg{
    background-image: url('./../../../../assets/img/animated/bg4.png')!important;
}

@keyframes bgAnimation {
    0% {
        background-image: url('./../../../../assets/img/animated/bg1.png');
    }

    50% {
        background-image: url('./../../../../assets/img/animated/bg2.png');
    }

    100% {
        background-image: url('./../../../../assets/img/animated/bg3.png');
    }

   
}