@import '../../../../styles.scss';
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100rem;
}

.menu-container{
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
}

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30rem 0;
    box-sizing: border-box;
    >img{
        width: 40rem;
        height: 32rem;
    }
}

.burger-menu{
    width: 45rem;
    height: 40rem;
    background-image: url('./../../../../assets/img/animated/burger1.png');
    background-size: cover;
}

.burger-icon-animate{
    animation: icon-animate 1s forwards;
    z-index: 2;
    
    background-size: cover;
}

@keyframes icon-animate {
    0%{
        background-image: url('./../../../../assets/img/animated/burger2.png');
    }
    15%{
        background-image: url('./../../../../assets/img/animated/burger3.png');
    }
    35%{
        background-image: url('./../../../../assets/img/animated/burger4.png');
    }
    50%{
        background-image: url('./../../../../assets/img/animated/burger5.png');
    }
    65%{
        background-image: url('./../../../../assets/img/animated/burger6.png');
    }
    80%{
        background-image: url('./../../../../assets/img/animated/burger7.png');
    }
    100%{
        background-image: url('./../../../../assets/img/animated/burger8.png');
    }

}

.logo{
    width: 110px!important;
    height: 40px!important;
}

.menu-animate-close{
    animation: min-height 50ms forwards;
}

@keyframes min-height {
    0% {
        height: 100%;
    }
    100%{
        height: 0;
    }
}

.menu-animate{
    animation: max-height 125ms forwards; 
}

@keyframes max-height {
    0% {
        height: 0;
    }
    100%{
        height: 100%;
    }
}


.menu {
    max-width: 580rem;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 96rem;
    font-weight: 700;
    line-height: 96rem;
    gap: 39rem;

   
}

.animate {
    color: $black;
    text-decoration: none;
    width: 100%;
    height: 167rem;
    text-align: center;
    background-image: url('./../../../../assets/img/animated/bg1.png');
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
        animation: bgAnimation 125ms forwards;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

.clickbg{
    background-image: url('./../../../../assets/img/animated/bg4.png')!important;
}

@keyframes bgAnimation {
    0% {
        background-image: url('./../../../../assets/img/animated/bg1.png');
    }

    50% {
        background-image: url('./../../../../assets/img/animated/bg2.png');
    }

    100% {
        background-image: url('./../../../../assets/img/animated/bg3.png');
    }

   
}

@media (max-width: 450px){
    .menu {
        font-size: 75rem;
    }

    .navbar {
        padding: 10rem 0rem !important;
    }
}

@media (max-width: 320px) {
    .logo{
        width: 86px !important;
        height: 29px !important;
    }

    .menu {
        font-size: 45rem;
    }

    .navbar {
        padding: 10rem 0rem !important;
    }
}



