<section>
    <div class="content-div">
        <span class="upper-text fontSyne">{{ 'FRONTEND' | translate }}</span>
        <span class="lower-text fontSyne">{{ 'DEVELOPER' | translate }}</span>
        <div class="border-name-box">
            <div class="sep-line"></div>
            <p class="fontOverpass name">Michal Galas</p>
        </div>

        <a href="#contact" class="button fontOverpass mobile-btn">{{ 'TALKBUTTON' | translate }}</a>

        <div class="lower-contact-box">
            <a class="fontOverpass" href="#contact">contact&#64;michal-galas.de</a>
            <div class="scroll-down-box">
                <img src="assets/img/animated/arrow4.png" alt="" srcset="">
                <span class="fontOverpass">{{ 'SCROLL' | translate }}<br> {{ 'DOWN' | translate}}
                </span>
            </div>
        </div>

    </div>
</section>
