<section>
    <div class="content-div">
        <span class="upper-text fontSyne">Frontend</span>
        <span class="lower-text fontSyne">Entwickler</span>
        <div class="border-name-box">
            <div class="sep-line"></div>
            <p class="fontOverpass name">Michal Galas</p>
        </div>
    
        <a href="#contact" class="button fontOverpass mobile-btn">Lass uns reden</a>
    
        <div class="lower-contact-box">
            <a class="fontOverpass" href="#contact">contact&#64;michal-galas.de</a>
            <div class="scroll-down-box">
                <img src="assets/img/animated/arrow4.png" alt="" srcset="">
                <span class="fontOverpass">Scroll <br> Down
                </span>
            </div>
        </div>
    
    </div>
</section>