<div class="preview preview--route" aria-hidden="true">
  <div class="route-map">
    <div class="route-map__grid"></div>
    <svg class="route-map__svg" viewBox="0 0 200 120" preserveAspectRatio="none">
      <path class="route-map__path" d="M 20 90 C 50 70, 70 40, 100 55 S 150 30, 180 25" />
    </svg>
    <div class="route-stop route-stop--1">
      <span class="route-stop__dot"></span>
      <span class="route-stop__check"></span>
    </div>
    <div class="route-stop route-stop--2">
      <span class="route-stop__dot"></span>
      <span class="route-stop__check"></span>
    </div>
    <div class="route-stop route-stop--3">
      <span class="route-stop__dot"></span>
      <span class="route-stop__check"></span>
    </div>
    <div class="route-stop route-stop--4">
      <span class="route-stop__dot"></span>
      <span class="route-stop__check"></span>
    </div>
    <div class="route-vehicle"></div>
  </div>
  <div class="route-panel">
    <div class="route-panel__title">Tourenplan</div>
    <div class="route-panel__item route-panel__item--done">Stop 1 · erledigt</div>
    <div class="route-panel__item route-panel__item--done">Stop 2 · erledigt</div>
    <div class="route-panel__item route-panel__item--active">Stop 3 · aktiv</div>
    <div class="route-panel__item">Stop 4 · offen</div>
  </div>
</div>
