<div class="preview preview--scan" aria-hidden="true">
  <div class="scan-scene">
    <div class="scan-cube">
      <div class="scan-cube__face scan-cube__face--front"></div>
      <div class="scan-cube__face scan-cube__face--back"></div>
      <div class="scan-cube__face scan-cube__face--right"></div>
      <div class="scan-cube__face scan-cube__face--left"></div>
      <div class="scan-cube__face scan-cube__face--top"></div>
      <div class="scan-cube__face scan-cube__face--bottom"></div>
    </div>
    <div class="scan-line"></div>
    <div class="scan-points">
      <span class="scan-point scan-point--1"></span>
      <span class="scan-point scan-point--2"></span>
      <span class="scan-point scan-point--3"></span>
      <span class="scan-point scan-point--4"></span>
      <span class="scan-point scan-point--5"></span>
      <span class="scan-point scan-point--6"></span>
      <span class="scan-point scan-point--7"></span>
      <span class="scan-point scan-point--8"></span>
    </div>
  </div>
  <div class="scan-hud">
    <span class="scan-hud__label">3D Scan</span>
    <span class="scan-hud__progress"></span>
  </div>
</div>
