<section [style.flex-direction]="flexDirection">
    <div class="project-view">
        <img src="assets/img/projects/{{ projects.img }}" alt="img">
        <a [classList]="'d-none'" href="{{ projects.path }}" class="viewBorder"></a>
    </div>
    <div class="about">

        <h1 class="fontSyne"> {{ projects.title }} </h1>
        <p class="stack fontOverpass">{{ projects.stack }}</p>
        <p class="description fontOverpass"> {{ projects.about }} </p>
        <a href="{{ projects.github }}"><button class="fontOverpass">Github</button></a>

    </div>


</section>