<section>
    <div class="project-view">
        <img src="assets/img/projects/join.png" alt="img">
        <a [classList]="'d-none'" href="" class="viewBorder"></a>
    </div>
    <div class="about">

        <h1 class="fontSyne">Join </h1>
        <p class="stack fontOverpass">HTML | CSS | JavaScript | Firebase</p>
        <p class="description fontOverpass">Task manager inspired by the Kanban System. Create and organize tasks using
            drag and drop functions, assign users and categories. </p>
        <a href=""><button class="fontOverpass">Github</button></a>

    </div>


</section>