@import './../../../../../styles.scss';
$rot: 

// [classList]="'d-none'"
.d-none {
    display: none;
}

section {

    padding-top: 100rem;
    display: flex;
    max-width: 1239rem;
    max-height: 460rem;
    display: flex;

    &:hover .view-border {
        opacity: 1;
        visibility: visible;
        position: absolute;

        >img {
            transition: transform 125ms ease-in-out;
            transform: scale(1.5) rotate(-130deg);
        }
    }

    &:hover .about {
        animation: animateRight 125ms forwards;
    }

    &:hover img {
        filter: grayscale(0);
    }
}



.view-border {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 25rem;
    left: 25rem;
    border: 4px solid $black;
    width: 100%;
    height: 100%;
    max-width: 620rem;
    max-height: 393rem;
    z-index: 1;
    box-sizing: border-box;
    transition: opacity 0.5s ease, visibility 0.5s ease;

    >img {
        position: absolute;
        width: 50rem;
        top: 150rem;
        right: -27rem;

    }
    
}

.project-view {
    position: relative;
    width: 50%;


    >img {
        width: 100%;
        height: 100%;
        filter: grayscale(1);
    }
}

@keyframes animateRight {
    0% {
        transform: translateX(-500rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.about {
    padding-left: 100rem;
    width: 50%;
    transform: translateX(-500rem);
    opacity: 0;

    >h1 {
        margin-top: 100rem;
        font-size: 45rem;
        font-weight: 800;
        line-height: 45rem;
        margin-bottom: 0;
    }

    >.stack {
        font-size: 23rem;
        color: $light_green;
        font-weight: 400;
        line-height: 27.6rem;
    }

    >.description {
        font-size: 16rem;
        font-weight: 400;
        line-height: 19.2rem;
    }
}

button {
    width: 189rem;
    height: 65rem;
    font-size: 23rem;
    line-height: 27.6rem;
    font-weight: 400;
    gap: 10rem;
    border: 4px solid;
    background-color: $white;
    transition: width 0.3s ease;

    &:hover {

        width: 250rem;
        font-weight: bold;
    }
}