<section>
    <div class="about-me-section">
        <h1 class="fontSyne">Über mich</h1>
        <span class="fontOverpass">
            Hallo! Ich bin Michal aus Mittweida, ein leidenschaftlicher Webentwickler mit Fokus auf die
            Erstellung dynamischer und benutzerfreundlicher Websites. Meine Stärken liegen in der Frontend-Entwicklung
            mit HTML, CSS, JavaScript und Angular.

            Ich setze auf sauberen, gut strukturierten Code und strebe stets nach optimalen Lösungen für komplexe
            Probleme. Wenn Sie denken, dass ich gut zu Ihrem Projekt passe, kontaktieren Sie mich gerne.
        </span>
        <a href="#contact" class="button fontOverpass">Lass uns reden</a>
    </div>
    <img src="assets/img/mg.png" alt="">
</section>
