@import './../../../styles.scss';

section {
    margin-left: 100rem;
    margin-right: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    height: 690rem;
    

    >img {
        width: 480rem;
        height: 519rem;
        margin-bottom: -142rem;

    }
}

.about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 619rem;
    min-height: 326rem;

    >h1 {
        font-size: 78rem;
        line-height: 78rem;
        font-weight: 800;
        width: 100%;

        &:hover {
            color: $light_green;
        }
    }

    >span {
        font-size: 23rem;
        font-weight: 400;
    }

    >.button {
        text-decoration: none;
        cursor: pointer;
        color: $black;
        margin-top: 76rem;
        width: 213rem;
        height: 68rem;
        border: 4px solid $black;
        background-color: $white;
        transition: width 0.3s ease;
        font-size: 23rem;
        font-weight: 500;
        line-height: 27.6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {

            width: 250rem;
            font-weight: bold;
        }
    }
}

.arrow-separator {
    margin: 0 100rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 210rem;
    margin-bottom: 138rem;
}

.arrow-container {
    width: 200px;
    height: 200px;
    position: relative;

    >.arrow-animation.animate {
        animation: moveAndChangeArrow 125ms  forwards;
    }

}

.arrow-animation {
    width: 200rem;
    height: 300rem;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../../../assets/img/animated/d-arrow.png');
    

}


@keyframes moveAndChangeArrow {
    0% {
        background-image: url('../../../assets/img/animated/d-arrow.png');
    }

    50% {
        background-image: url('../../../assets/img/animated/d-arrow1.png');
    }

    100% {
        transform: translate(-100rem, 100rem);
        background-image: url('../../../assets/img/animated/d-arrow2.png');
    }

}