<section>
  <div class="about-me-section">
    <h1  class="fontSyne">About me</h1>
    <span class="fontOverpass">
      Hello! I'm Michal from Mittweida, a passionate web developer focused on creating dynamic and user-friendly
      websites. My strengths lie in frontend development with HTML, CSS, JavaScript, and Angular.

      I prioritize clean, well-structured code and always strive for optimal solutions to complex problems. If you think
      I would be a good fit for your project, feel free to contact me.
    </span>
    <a href="#contact" class="button fontOverpass">Let's talk</a>
  </div>
  <img src="assets/img/mg.jpg" alt="">
</section>
