
html, body {
    height: 100%;
    margin: 0;
    display: flex;
  }
  div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #header {
    height: 92rem;
    width: 100%;
  }

  #footer {

    width: 100%;
  }





