<section class="privacy-policy">

    <h1>Datenschutzrichtlinie</h1>
    <h2>Willkommen auf meiner Website</h2>
    <p>Der Schutz Ihrer persönlichen Daten ist mir wichtig. Diese Datenschutzrichtlinie beschreibt, wie ich Ihre Daten
        sammle, verwende und schütze.</p>

    <h2>Kontaktformular</h2>
    <p>Wenn Sie das Kontaktformular auf meiner Website verwenden, werden die von Ihnen bereitgestellten Daten (Name,
        E-Mail-Adresse und Nachricht) ausschließlich zum Zweck der Kontaktaufnahme verwendet. Diese Daten werden nicht
        an Dritte weitergegeben.</p>

    <h2>Verwendung von Daten</h2>
    <p>Die erhobenen Daten werden ausschließlich für folgende Zwecke verwendet:</p>
    <ul>
        <li>Kontaktaufnahme und Beantwortung Ihrer Anfragen.</li>
        <li>Anmeldung und Nutzung der Projektseiten.</li>
    </ul>

    <h2>Projektseiten</h2>
    <h3>Join Projekt</h3>
    <p>Dies ist ein Task-Manager, der sich an einem Kanban-Board orientiert. Es gibt die Möglichkeit zur Registrierung,
        zum Login sowie zur Gastanmeldung. Diese Daten dienen nur zu Demo-Zwecken, um das Projekt anzusehen.</p>

    <h3>Sharkie</h3>
    <p>Ein Spiel, das in JavaScript entwickelt wurde. Hier wird keine Anmeldung benötigt.</p>

    <h2>Weitergabe von Daten</h2>
    <p>Ihre persönlichen Daten werden nicht an Dritte weitergegeben, es sei denn, dies ist gesetzlich vorgeschrieben.
    </p>

    <h2>Bezugnahme auf deutsches Gesetz</h2>
    <p>Diese Datenschutzrichtlinie bezieht sich auf die gesetzlichen Bestimmungen des deutschen Datenschutzgesetzes
        (DSGVO).</p>

    <p>Bei Fragen oder Anliegen zum Datenschutz können Sie mich per E-Mail unter <a href="mailto:contact@michal-galas.de"> contact&#64;michal-galas.de</a> kontaktieren.</p>

</section>