<section>
    <div class="copy-right">
        <img src="assets/img/logo.png" alt="">
        <div>&copy; Michal Galas 2024 </div>
    </div>
    <div class="contact-links">
        <div>
            <a href="#"><img class="slide-top" src="assets/img/icons/gitHub.png" alt="gitHubLogo"></a>
            <a href=""><img class="slide-top" src="assets/img/icons/mail.png" alt="mailLogo"></a>
            <a href=""><img class="slide-top" src="assets/img/icons/linkedIn.png" alt="linkedInLogo"></a>
        </div>
        
        <div  class="privacy_policy">Legal notice</div>
    </div>
</section>