<section>
    <div class="arrow-separator2">
        <div class="arrow-container2" (mouseenter)="startAnimation2()">
            <div class="arrow-animation2" [class.animate]="isAnimating"></div>
        </div>
    </div>
    <div class="skills-container">
        <span class="fontSyne my-skills-mobile">Meine Skills</span>
        <div class="icon-container">
            @for (item of skills.mySkills; track item; let i = $index) {
            <div>
                <img class="rotate-scale-down-hor" src="assets/img/icons/{{item.path}}" alt="">
                <span class="fontOverpass">{{item.name}}</span>
            </div>
            }
        </div>
    </div>
    <div class="arrow-separator">
        <div class="arrow-container" (mouseenter)="startAnimation()">
            <div class="arrow-animation" [class.animate]="isAnimate"></div>
        </div>
        
    </div>
</section>