/* You can add global styles to this file, and also import other style files */

/* Variables global */
// Colors //

$white: #d2d1cf;
$black: #000000;
$light_green: #00BC8F;



* {
    border: unset;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    margin: 0;
    background-color: $white;
    height: 100vh;
    margin: auto;
    display: flex;
    max-width: 1440rem;
    flex-direction: column;
}

app-privacy-policy{
    flex: 1;
    padding: 0 100rem;
}

app-imprint{
    flex: 1;
    padding: 0 100rem;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    font-size: 1px;
}
html, body 
 {font-family: Roboto, "Helvetica Neue", sans-serif; }
