/* You can add global styles to this file, and also import other style files */

/* Variables global */
// Colors //

$white: #d2d1cf;
$black: #000000;
$light_green: #00BC8F;



* {
    border: unset;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    margin: 0;
    background-color: $white;
    // height: 100vh;
    margin: auto;
    display: flex;
    // overflow-x: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

app-privacy-policy {
    flex: 1;
    padding: 0 100rem;

}

app-imprint {
    flex: 1;
    padding: 0 100rem;

}

app-root {
    // justify-content: center;
    // align-items: center;
    // display: flex;
    // flex-direction: column;
    height: 100%;
    max-width: 1440rem;
    width: 100%;
}



html {
    scroll-behavior: smooth;
    font-size: 1px;
}

html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


@media (max-width: 1480px) {
    html {
        font-size: 0.9px;
    }
}

@media (max-width: 1340px) {

    section{
        padding: 0 50rem!important;
    }
}



@media (max-width: 1000px) {
    html {
        font-size: 0.9px;
    }

    section{
        padding: 0 40rem!important;
    }
}

@media (max-width: 850px) {

    #above-the-fold {
        display: block;
        height: 100vh;
    }

}

@media (max-width: 750px) {
    section{
        padding: 0 20rem!important;
    }
}




@media (max-width: 450px) {

    html {
        font-size: 0.8px !important;
    }


    section {
        padding: 0 20rem !important;
    }

}


@media (max-width: 320px) {

    section {
        padding: 0 10rem;
    }

}