<section>
    <div class="title">
        <h1 class="fontSyne">Portfolio</h1>
        <p class="fontOverpass">Erkunden Sie hier eine Auswahl meiner Projekte - Interagieren Sie mit diesen, um meine Fähigkeiten in Aktion zu sehen.
        </p>
    </div>
    @for (singleProject of projects; track singleProject.title; let i = $index) {
    @if(i % 2 !== 0){
    <app-project [projects]="singleProject" [flexDirection]="'row-reverse'"></app-project>
    }@else {
    <app-project [projects]="singleProject"></app-project>
    }
    }
   
</section>
<div class="arrow-separator">
    <div class="arrow-container" (mouseenter)="startAnimation()">
        <div class="arrow-animation " [class.animate]="isAnimating"></div>
    </div>
</div>