<section>
    <div class="title">
        <h1 class="fontSyne">{{ 'HEADER_PORTFOLIO' | translate }}</h1>
        <p class="fontOverpass"> {{ 'PORTFOLIO_DESCRYPTION' | translate }}
        </p>
    </div>
    @for (singleProject of projects; track singleProject.title; let i = $index) {
    @if(i % 2 !== 0){
    <app-project [projects]="singleProject" [flexDirection]="'row-reverse'"></app-project>
    }@else {
    <app-project [projects]="singleProject"></app-project>
    }
    }

    <div class="arrow-separator2">
        <div class="arrow-container2" (mouseenter)="startAnimation()">
            <div class="arrow-animation2 " [class.animate]="isAnimating"></div>
        </div>
    </div>
</section>
