@import './../../../styles.scss';


section {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100rem;


    >.title {
        width: 619rem;
        height: auto;

        >h1 {
            text-align: center;
            font-size: 78rem;
            line-height: 78rem;
            font-weight: 800;
            margin-top: 130rem;
            &:hover {
                color: $light_green;
            }
        }

        >p {
            font-size: 23rem;
            font-weight: 400;
            line-height: 27.7rem;
            margin-top: -35rem;
            padding: 0 50rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.arrow-separator2 {
    margin-top: -60rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 110rem;
    width: 100%;
    margin-top: 15rem;
}

.arrow-container2 {
    width: 200rem;
    height: 200rem;
    position: relative;
    margin-right: 100rem;

    >.arrow-animation2.animate {
        animation: moveAndChangeArrow 125ms forwards;
    }

}

.arrow-animation2 {
    width: 200rem;
    height: 300rem;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../../../assets/img/animated/d-arrow.png');


}


@keyframes moveAndChangeArrow {
    0% {
        background-image: url('../../../assets/img/animated/d-arrow.png');
    }

    50% {
        background-image: url('../../../assets/img/animated/d-arrow1.png');
    }

    100% {
        transform: translate(-100rem, 60rem);
        background-image: url('../../../assets/img/animated/d-arrow2.png');
    }

}

@media (max-width: 850px) {
    .title>h1 {
        font-size: 60rem !important;
    }

    section {
        margin-bottom: 50rem !important;
    }

    .arrow-separator2 {
        width: 100%;
        padding-right: 0 !important;
        margin-bottom: 50rem;
    }

    .arrow-container2 {
        margin-right: 0 !important;
    }
}

@media (max-width: 650px) {
    .title {
        width: 100% !important;
        >h1 {
            font-size: 50rem !important;
        }
    }

}






@media (max-width: 580px) {


    .title>h1 {
        font-size: 46rem !important;
    }

}




@media (max-width: 450px) {

    .arrow-separator2 {
        margin-bottom: 50rem;
    }

    section {
        margin-top: -50rem;
        padding: 0 10rem;

        >.title {


            >h1 {
                font-size: 44rem;
            }

            >p {
                padding: 10rem;
            }
        }
    }
}

@media (max-width: 320px) {


    .arrow-separator2 {
        margin-top: 15rem;

    }

    .title {
        >h1 {
            font-size: 42rem !important;
        }

        >p {
            padding: 0 0 !important;
        }
    }
}
